@use "colors.scss" as variableColors;
.bg-footer {
  background-color: variableColors.$black-color;
  color: variableColors.$white-color;
}
.logo {
  width: 60px;
  height: 40px;
}
.link {
  text-decoration: none;
}
.title-text {
  font-size: 22px;
}
.circle-img {
  width: 100px;
  height: auto;
  border: 1px solid variableColors.$gray-color;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.cus-nav .navbar-nav {
  > .dropdown {
    > .nav-link {
      &:before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(0, -100%) rotate(0);
        transform-origin: top left;
        transition: 0.4s transform ease-out;
        z-index: -1;
        background-color: variableColors.$priamry-color;
      }
      &:hover {
        color: variableColors.$white-color;
        &:before {
          transform: translate(0, 0);
        }
      }
    }
  }
  .nav-link {
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 6px 15px;
    margin: 0 5px;
    border-radius: 15px;
    color: variableColors.$gray-color;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: 0.4s transform ease-in-out;
    z-index: 0;
    &.active {
      background-color: variableColors.$priamry-color;
      color: variableColors.$white-color;
    }
  }
  > .nav-link {
    &:hover {
      color: variableColors.$white-color;
    }
    &:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(0, -100%) rotate(0);
      transform-origin: top left;
      transition: 0.4s transform ease-out;
      z-index: -1;
      background-color: variableColors.$priamry-color;
    }
    &:hover {
      color: variableColors.$white-color;
      &::after {
        transform: translate(0, 0);
      }
    }
  }
}
.cus-dropdown {
  &.active {
    background-color: variableColors.$priamry-color;
    border-radius: 15px;

    .nav-link {
      color: variableColors.$white-color;
    }
  }
  .dropdown-menu {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(248, 249, 250, 1);
    box-shadow: none;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.26s ease;
  }

  &:hover {
    .dropdown-menu {
      transform: scaleY(1);
    }
  }
}
