@use "breakpoints.scss" as mediaBreakpoint;

.slide {
  background-color: #000;
  max-height: 115px;
  overflow: hidden;
  @include mediaBreakpoint.media-breakpoint-sm {
    max-height: 250px;
  }
  @include mediaBreakpoint.media-breakpoint-lg {
    max-height: 400px;
  }
}
.cus-card {
  .card-box {
    img {
      height: 300px;
    }
    .card-body {
      background-color: #6edcfa;
    }
  }
}
